<!DOCTYPE html>
<html>
    <body>
        <h1>Students</h1>
        <table>
            <thead><tr><th> Id </th><th> Last Name </th><th> First Name </th><th> Age </th><th> Favorit Chips </th></tr></thead>
            <tbody>
                {% for st in stdata%}
                <tr>
                    <td>{{st[0]}}</td>
                    <td>{{st[1]}}</td>
                    <td>{{st[2]}}</td>
                    <td>{{st[3]}}</td>
                    <td>{{st[4]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>